<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="/style.css">
  </head>
  <form  actiontype="text" name="form1">
    <input type="radio" name="stars" value="1" > *<br>
    <input type="radio" name="stars" value="2"> **<br>
    <input type="radio" name="stars" value="3" checked> ***<br>
    <input type="radio" name="stars" value="4"> ****<br>
    <input type="radio" name="stars" value="5"> *****
    <br>
    <label>your name:</label>
    <input type="text" name="Title">
    <br>
    <label>Email:</label>
    <input type="text" name="Title">
    <br>
    <label>Title:</label>
    <input type="text" name="Title">
    <br>
    <label>Review:</label>
    <input id="reviewText" type="text" name="Review">
    <form   type="text" name="review">
      <button type="submit">Submit</button>

</form>
