<h1>Log in<h1>
<form action="/submit_login" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<h1>need an account?<h1>
<form action="/create_account" method="POST">
  <input type="text" name="newusername" placeholder="Username">
  <input type="password" name="newpassword" placeholder="Password">
  <input type="text" name="newemail" placeholder="Email">
  <button type="submit">Create account</button>
</form>
