<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form  action="/submit" method="post">
      <input type="text" name="uName">
      <input type="text" name="passWord">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
